* {
  box-sizing: border-box;
  /*
  margin: 0px;
  padding: 0px;
  */
  text-align: center;
}

img {
  width: 100%;
  max-width: 400px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#username-does-not-exist {
  color: red;
}