* {
  box-sizing: border-box;
  /*
  margin: 0px;
  padding: 0px;
  */
  text-align: center;
}

img {
  width: 100%;
  max-width: 400px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#username-does-not-exist,
#username-is-not-available,
#post-an-item-for-sale-failed {
  color: red;
}

#username-is-available,
#product-purchase-confirmation-message,
#post-an-item-for-sale-successful {
  color: green;
}

#new-avatar-url {
  width: 100%;
  max-width: 700px;
}

#sell-an-item-description {
  width: 100%;
  max-width: 500px;
}